### Introduction
Python is one of the most widely used programming languages in industry, it is a powerful, case sensitive and general purpose language with applications ranging from web development to data science. Python is an easy-to-learn programming language and it is user friendly.

To excecute a cell in jupyter notebook, we make use of 'shift + enter', 'control + enter', or the 'Run' Icon which is at the upper left hand side of the page.

In [5]:
'This is my first program'

'This is my first program'

Yayyy we got our output!<br>
What happens when we put the # symbol in front of our sentence?

In [6]:
#This is my first program

As we can see, there is no output because in python putting the # symbol in front a sentence indicates that it is a comment, so our compiler ignores it. Comments are sentences that programmers put in their code to explain what that line of code is doing. It is always good to add comments to your code, so that another programmer who picks up the code would be able to understand what you were doing.

### The Print Function
In python we use the print function to see what is going on in our program, that is the output of the program. When using jupyter notebook to run python codes, it is not compulsory to use the print function before we can see the output of our program. For example:

In [8]:
5+6

11

In [9]:
print(5+6)

11

There's no difference in the output. Let's try another example:

In [15]:
'I am a lady'

'I am a lady'

In [16]:
print('I am a lady')

I am a lady

Now there is a little difference in the output, why did I have to put quotes around my sentence?<br>
Try running the cell without the quotes.<br>
Yeah, that's right. It throws up an error 'Invalid Syntax'. Syntax simply means the stucture of a program, that is what is allowed and what is not allowed in a programming language.

### Data Types and Operators
<b> Arithmetic Operators </b> <br>
The arithmetic operators in python are:<br>
<ul> <li> Addition(+) </li> 
    <li> Subtraction(-) </li>
    <li> Division(/)</li>
    <li> Multiplication(*) </li> 
    <li> Exponentiation(**) </li>
    <li> Modulo(%) </li>
    <li> Integer Division(//) </li>

In [24]:
8/2+2*5

14.0

From the above cell, we can see that python follows the rule of BODMAS. We can change the calculation order by putting parenthesis, but then we would have to make use of the print function, so that python would not throw up an error.<br>
Note: You can add the parenthesis anywhere in your calculation.

In [26]:
print((8/2+2)*5)

30.0

In [27]:
3**2 #The exponentiation sign raises 3 to the power of 2

9

In [28]:
9%2 #The modulo sign shows the remainder, 9/2 is 4 remainder 1, so the remainder would be the output.

1

In [29]:
7//3 #The Integer division truncates the remainder and only outputs the integer.

2

<b> Variables </b> <br>
Variable names are containers that helps us to keep things in programming, just like the content of a container can be changed, the value of a variable can also be changed.

In [31]:
#In the code below, Age is the variable name and it's value is 18.
#The eqality sign is an assignment operator, which is telling us that the content of the Age container is 18.
Age = 18
Age #we use the name of the variable to print out it's value.

18

In [60]:
#As we can see the value in the container has been changed.
Age = 1000
Age

1000

Note: There are a few rules when creating a variable name in python<br>
<ul> <li> You can only start with a letter or an underscore </li>
    <li> You cannot start with a number, else python would throw up an error </li>
    <li> Just like I mentioned before, python is case-sensitive, so 'Age' is different from 'age' </li>
    <li> You cannot use <b> keywords </b> as variable names. Keywords are words that have special meaning to python </li> </ul>

<b> Data Types </b> <br>
Just like we have whole numbers and decimal numbers in mathematics, we also have them in python.<br> The only difference is the name we call them. In python, Whole numbers are called <b> Integers </b>while decimal numbers are called <b> Float. </b> We can see the data type of a number by just using the <b> type function </b> in python, Let's try it out:

In [34]:
type(5)

int

In [35]:
type(9.855)

float

What's more? we can manually change the data type of a float to an integer and that of an integer to a float. Let's see how

In [38]:
a = int(9.8)
a

9

In [37]:
b = int(9.3)
b

9

Wow!, python does not follow our normal approximation rule. 9.8 and 9.3 would still give us the same integer.

In [39]:
c = float(7)
c   #it becomes a float

7.0

In [ ]:
#What is the mean of this three numbers?, assign your result to a new variable name.
a = 15
b = 10
c = 20

In [62]:
first_age = 10
second_age = 15
Total_age = first_age + second_age
Total_age

25

In [ ]:
#what is the value of total_age if second_age = 20?

Another spectacular data type in python is <b> Strings. </b> They are immutable ordered sequence of characters.<br>
As we have seen above, python throws up an error, if we write a sentence without making use of quotes. This tells us that to create any string in python, they must be enclosed in quotes either single or double. Strings can include any characters even spaces, punctuation and numbers.

In [40]:
type('I am 5 years old') #python sees everything enclosed in quotes as string.

str

In [45]:
name = 'Yemi' 
surname = 'Alade'
name * 5 #We can use some arithmetic operators on strings too

'YemiYemiYemiYemiYemi'

In [46]:
name + surname #combines the two strings together

'YemiAlade'

In [48]:
print(name + ' ' + surname) #We can make the output look nicer by using a print function and then adding a space inbetween the names.

Yemi Alade

In [49]:
len(surname) #the len function returns the length of a string.

5

In [ ]:
#What do you think would be the output of this?
'5 + 10'

<b> More Examples: </b>

In [65]:
#This program prints tiwa savage is a musician
name = 'Tiwa Savage'
occupation = 'Musician'
print(name +' '+ 'is a' +' '+occupation)

Tiwa Savage is a Musician

In [67]:
#We can also print Tiwa savage is a musician by using the string method 'format'
#We do not need to declear our variable names again, since it has been decleared before.
print('{} is a {}'.format(name, occupation))

Tiwa Savage is a Musician

In [68]:
name = 'Ada'
age = 10
print('{} is {} years old today'.format(name, age))

Ada is 10 years old today

In [ ]:
#Write a program that prints out the name of your favorite pet.

We use the <b> input function</b> to collect information from a user in python. For example:

In [74]:
#This is a program that collects a user's name and the name of the user's best musician.
username = input('What is your name?\n')
musician_name = input('What is the name of your best musician?\n')
print('{} loves {} songs a lot.'.format(username, musician_name))

What is your name?
Moyin
What is the name of your best musician?
Fireboy
Moyin loves Fireboy songs a lot.

In [ ]:
#Write a program that collects the name of a user, their bank name and their account balance.
#The program should also print out, the name of the user, their bank name and their account balance.

Python has another data type called <b> boolean,</b> it is a data type whose value can either be true or false. We can produce a boolean by making use of <b> comparison operators.</b> Comparison Operators in Python are: <, >, ==, <=, >=, !=. <b> Logical Operators </b> like 'and, or, not' can also produce a bool.<br>
<ul> <li> <b> and: </b> returns true if all the statement are true </li>
    <li> <b> or: </b> returns true if at least one of the statement is true </li>
    <li> <b> not: </b> returns true if a statement is false </li> </ul>

In [52]:
10 > 5

True

In [53]:
10 > 5 and 3 < 5

True

In [54]:
6 > 10 and 10 < 15

False

In [55]:
10 > 5 or 3 < 5

True

In [56]:
6 > 10 or 10 < 15

True

In [57]:
3!=5

True

In [59]:
not (10 > 20)

True